html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: yellow;
}
section {
  background: gray;
  display: flex;
}
canvas {
  border: solid 2px black;
  margin: auto;
}
